.project {
    margin-top: 20px;
  
  }
  
/* .madera {
    background-image:url(../../assets/marco.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 700px;
  
  
   
        
  @media (max-width: 1200px) {
    height: 100vh;
    background-image: none;
    background-color: antiquewhite;
    border: 10px solid black;
       
  }
  @media (min-width: 1400px) {
    height: 100vh;
    background-image: none;
    background-color: antiquewhite;
    border: 10px solid black;
  
       
  }
} */

.madera {
  height: 700px;
  width: 100%;
  background-color: antiquewhite;
  border: 10px solid black;
}
  
.carousel {

 
  margin-left: 10%;
  padding-top: 10%;
 
}

.projectCard {
    

    background-color: rgb(234, 220, 205);
    display: flex;
    align-items: center;
    justify-content: center;
  
  
}